services:
    wyze-bridge:
        container_name: wyze-bridge
        restart: unless-stopped
        image: idisposablegithub365/wyze-bridge:latest-hw
        network_mode: host
        ports:
            - 1935:1935/tcp # RTMP rtmp://localhost:1935/mystream?user=myuser&pass=mypass
            - 1936:1936/tcp # RTMP rtmps://localhost:1936/mystream?user=myuser&pass=mypass
            - 2935:2935/tcp # RTMPS rtmps://localhost:2935/mystream?user=myuser&pass=mypass
            - 2936:2936/tcp # RTMPS rtmps://localhost:2936/mystream?user=myuser&pass=mypass
            - 8004:8000/udp # RTSP UDP/RTP rtsp://localhost:8000/mystream
            - 8001:8001/udp # RTSP UDP/RTCP rtsp://localhost:8001/mystream
            - 8002:8002/udp # RTSP RTP Multicast
            - 8003:8003/udp # RTSP RTCP Multicast control
            - 8189:8189/udp # WebRTC ICE/UDP
            - 8322:8322/tcp # TCP/TLS/RTSPS rtsps://localhost:8322/mystream
            - 8554:8554/tcp # RTSP rtsp://localhost:8554/mystream
            - 8888:8888/tcp # HLS http://localhost:8888/mystream
            - 8889:8889/tcp # WebRTC http://localhost:8889/mystream and http://localhost:8889/mystream/whep
            - 8890:8890/udp # SRT UDP srt://localhost:8890?streamid=read:mystream:myuser:mypass
            - 5000:5000/tcp # WEB-UI http://localhost:5000/mystream
        environment:
            # [OPTIONAL] Credentials can be set in the WebUI
            # API Key and ID can be obtained from the wyze dev portal: 
            # https://developer-api-console.wyze.com/#/apikey/view
            - WYZE_EMAIL=${WYZE_EMAIL}
            - WYZE_PASSWORD=${WYZE_PASSWORD}
            - API_ID=${API_ID}
            - API_KEY=${API_KEY}
            # [OPTIONAL] IP Address of the host to enable WebRTC e.g.,:
            - WB_IP=192.168.0.160
            # WebUI and Stream authentication:
            - WB_AUTH=True # Set to false to disable web and stream auth.
            - WB_USERNAME=${WB_USERNAME}
            - WB_PASSWORD=${WB_PASSWORD}
            - WB_RTSP_URL=rtsp://localhost:8004/
            - ROTATE_DOOR=True
            - H264_ENC=h264_nvenc
            - FFMPEG_CMD=ffmpeg -loglevel verbose -f h264 -c:v h264_cuvid -i - -c:v h264_nvenc -rtsp_transport tcp -f rtsp rtsp://0.0.0.0:8554/{cam_name}
            # - NVIDIA_VISIBLE_DEVICES=all
            # - NVIDIA_DRIVER_CAPABILITIES=compute,video,utility
        # devices:
        #     - /dev:/dev
        deploy:
          resources:
            reservations:
              devices:
                - driver: nvidia
                  count: all
                  capabilities: [gpu]
#         networks:
#             - npm_net
# networks:
#     npm_net:
#         external: true    